@import url(https://db.onlinewebfonts.com/c/65dc1b4fb1cd6bf31e730421533dafc7?family=ITC+Avant+Garde+Gothic+W02+Md);

/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'ITC Avant Garde Gothic W02 Md', Arial, sans-serif;
}

/* Body Styling */
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Header Section */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #06509f;
    color: #fff;
    padding: 10px 20px;
}

header h1 {
    font-size: 1.5em;
}

/* Container */
.container {
    display: flex;
    flex: 1;
}

/* Side Menu */
.side-menu {
    width: 250px;
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
}

.search-container {
    display: flex;
    margin-bottom: 20px;
}

.search-container input {
    width: 80%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.side-menu ul {
    list-style-type: none;
}

.side-menu li {
    margin: 15px 0;
}

.side-menu a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.side-menu a:hover {
    color: #007BFF;
}

/* Content */
.content {
    flex: 1;
    padding: 20px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.table-buttons button {
    margin-left: 10px;
    border: none;
    cursor: pointer;
    background: transparent;
}

.table-buttons button a {
    display: inline-block;
}

hr {
    color: #d5d8dc;
}

.proposals {
    padding-top: 2em;
}
table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

input[type="checkbox"] {
    cursor: pointer;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}
