/* variables */
:root {
  --primary-color: #06509f;
  --secondary-color: #ec2227;
  --white: #fff;
}

footer {
  width: 100%;
  background-color: var(--primary-color);
  color: var(--white);
  padding: 20px;
  height: max-content;
  align-content: center;
  text-align: center;
  font-size: small;
  margin-top: auto
  
}

footer a {
  color: var(--white);
}

footer > * {
  margin-bottom: 15px;
}

.link {
  text-decoration: none;
  background-color: var(--white);
  color: var(--primary-color);
  border-radius: 2px;
  margin: 2px;
  padding: 5px;
}

.link:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: var(--secondary-color);
}