:root {
  --primary-color: #06509f;
  --secondary-color: #ec2227;
  --thirtier-color: #f4f4f4;
  --white: white;
}

/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "ITC Avant Garde Gothic W02 Md", Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: auto;
}

/* Sidebar Styles */
.sidebar {
  width: 80px;
  height: 100vh;
  position: fixed;
  background-color: var(--primary-color);
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar .logo {
  width: 100%;
  margin-bottom: 20px;
}

.icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
}

#sidebar-btn, #logout-btn {
  background: none;
  border: none;
  color: white;
  margin: 10px 0;
  cursor: pointer;
  padding: 25px;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

#sidebar-btn img, #logout-btn img {
  width: 24px;
  height: 24px;
}

#sidebar-btn:hover, #logout-btn:hover {
  transform: scale(1.1);
  background-color: rgba(0, 0, 0, 0.3);
}

#logout-btn {
  margin-top: auto; 
  margin-bottom: 0; 
}

/* Main Content */
.container {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
  min-height: 100vh;
}

h1 {
  font-size: 1.7em;
  padding: 1em 1em;
  color: #06509f;
  font-weight: lighter;
}

hr {
    border: 1px solid #ccc;
    height: 1px;
    background: #ccc;
    margin: 0 20px;
}

/* Profile Section */
.profile {
  display: flex;
  flex-direction: column;
  margin-top: 2.5em;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 10px;
  width: 95%;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}

.profile-image {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-image img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  border: 1px solid #ddd;
  object-fit: cover;
  margin-bottom: 20px;
}

.details {
  padding: 10px;
  width: 100%;
}

.details .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.details .form-group label {
  margin-bottom: 5px;
  font-weight: bold;
}

.details .form-group input,
.details .form-group select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.details .form-group input:focus,
.details .form-group select:focus {
  border: 1px solid black;
}

#submit,
#fileUploadButton {
  display: flex;
  background-color: #06509f;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  cursor: pointer;
  margin: 15px auto 0 auto;
  transition: 0.3s ease;
}

#submit:hover,
#fileUploadButton:hover {
  background-color: #053f80;
}

input,
select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

input:focus,
select:focus {
  border: 1px solid black;
}

/* Tooltip for password */
.password-input {
  position: relative;
}

#cpass:focus{
  outline: none;
}

.error {
  text-align: center;
  font-size: xx-large;
  font-weight: bold;
}

.tooltip {
  font-size: small;
  position: relative;
  padding: 10px;
  z-index: 1;
  width: 300px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.tooltip.visible {
  opacity: 1;
}

.tooltip ul {
  list-style-type: none;
  padding: 0;
}

.tooltip ul li {
  margin: 5px 0;
}

.tooltip ul li.invalid {
  color: red;
}

.tooltip ul li.valid {
  color: green;
}

/* Eye icon */
#toggle-password {
  cursor: pointer; 
  width: 20px; height: 20px; 
  position: absolute; 
  right: 20px; 
  top: 33px;
}

@media (max-width: 768px) {
  .container {
    margin-left: 0;
  }

  .profile {
    flex-direction: column;
    text-align: center;
    box-shadow: none;
  }

  .tooltip{
    text-align: left;
  }

  .profile-image img {
    margin: 0 0 20px 0;
    width: 160px;
    height: 160px;
  }

  /* Sidebar */
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0;
  }

  .sidebar .logo {
    width: 50px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 0;
}

  .icons {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-grow: 1; 
      justify-content: center;
  }

  #sidebar-btn, #logout-btn {
      background: none;
      border: none;
      color: white;
      cursor: pointer;
      padding: 25px;
      margin: 0px;
  }

  #sidebar-btn img, #logout-btn img {
      width: 24px;
      height: 24px;
  }

  #sidebar-btn:hover, #logout-btn:hover {
      transform: scale(1);
  }

  #logout-btn {
      margin-left: auto;
  }

  .form-group {
    display: block;
    width: 100%;
    padding: 5px 0;
  }

  .submit {
    width: 100%;
    padding: 10px;
  }

  #toggle-password {
    top: 37px;
  }
}
