.role {
  border-radius: 20px;
  padding: 10px;
  width: fit-content;
}

.role:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: scale(1.1);
}

.student {
  color: #e28c08;
  background-color: #ffefd7;
}

.moderator {
  color: #535353;
  background-color: #cecece;
}

.supervisor {
  color: #1e6332;
  background-color: #e5ffea;
}

.disabled{
  pointer-events: none;
  background-color: #cecece;
}

#userForm {
  padding: 0;
}

#textHint {
  text-decoration: underline;
  cursor: pointer;
}

.create-new-btn {
  width: 20px;
  height: 20px;
  background: url("../assets/create-new-icon.png") no-repeat scroll 0 0 transparent;
  background-size: cover;
  border: none;
  margin: auto;
  vertical-align: middle;
}

#search-bar-id{
  vertical-align: middle;
  max-width: 100px;
}

.more-btn,
.search-btn {
  border: none;
  font-size:x-large;
  border-radius: 100%;
  background: transparent;
}

.more-btn:hover,
.search-btn:hover {
  transform: scale(1.5);
  background: transparent;
  border: none;
  cursor: pointer;
}

input:disabled{
 color: black;
}